<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd"[]>
<configuration>

	<settings>
		<!-- 要使延迟加载生效必须配置下面两个属性 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
		
		<!-- mybatis 二级缓存 -->
		<setting name="cacheEnabled" value="true"/>
		
		<setting name="callSettersOnNulls" value="true"/>
	</settings>
	<!-- 忽略KEY大小写的MAP -->
	<typeAliases>
		<typeAlias type="java.util.Map"
			alias="Map" />
	</typeAliases>
	

	<mappers>
		<mapper resource="beanmapper/test.xml"></mapper>
	</mappers>
</configuration>
